<header class="page-header">
    <h1>Modification</small>
    </h1>
</header>

<section>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Titre :</label>
            <div class="col-md-4">
            <input type="text" ng-model="movie.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Année de sortie :</label>
            <div class="col-md-4">
            <input type="text" ng-model="movie.releaseYear" class="form-control">
            </div>
            </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Réalisateur : </label>
            <div class="col-md-4">
            <input type="text" ng-model="movie.directors" class="form-control">
        </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">Acteurs :</label>
            <div class="col-md-6">
            <input type="text" ng-model="movie.actors" class="form-control">
        </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">Synopsis :</label>
            <div class="col-md-6">
            <textarea ng-model="movie.synopsis" class="form-control"></textarea>
        </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Note :</label>
            <div class="col-md-4">
            <input type="number" placeholder="entre 1 et 5" ng-model="movie.rate" class="form-control">
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-lg-offset-2">
                <a href="#/movies" class="btn btn-danger btn-small">Annuler</a>
                <button type="submit" class="btn btn-custom-primary" ng-click="updateMovie(movie)">Modifier</button>
            </div>
        </div>
    </form>
</section>
